
body {
	background-color: #f2f2f2;
}

h1 {
	text-align: center;
	margin-top: 30px;
	color: #333;
}

form {
	margin: 0 auto;
	max-width: 500px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
}

label {
	display: inline-block;
	width: 200px;
	text-align: left;
	margin-right: 20px;
}

input[type="text"],
input[type="tel"],
textarea {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

input[type="radio"] {
	margin-right: 10px;
}

input[type="button"] {
	background-color: #d25757;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin-left: 200px;    
}

input[type="button"]:hover {
	background-color: #c61f1f;
}

.logo-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .logo-container img {
	max-width: 150px; 
  }