body{

    direction:rtl
}

table {
    position: relative;
    right: 5%;
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    direction: rtl;
}
h1{

    position: relative;
    right: 45%;
}
th, td {
    border: 1px solid #888;
    padding: 10px;
    text-align: right;
}
th {
    background-color: #d25757;
    color: white;
}

tr.data-row:hover {
    background-color: #e0e0e0;
}

tr.details-row {
    background-color: #f9f9f9;
}

tr.details-row td {
    padding: 0;
}

tr.details-row ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

input[type='text'] {
    padding: 5px;
    margin: 10px 0;
    position: relative;
    right:5%;
}

  #search-btn {
    display: block;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #d25757;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Assistent', sans-serif;
  }
  button{
    display: block;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #d25757;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Assistent', sans-serif;
    margin-right: 40px;
    margin-bottom: 20px;
  }
 
  .content-wrapper {
    min-height: calc(100% - 20px); 
    font-family: 'Assistent', sans-serif;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
 