body {
    background-color: white;
    color: black;
    direction: rtl;
    font-family: 'Assistent', sans-serif;
}
h1{
    text-align: center;
}
table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1.5px solid rgb(99, 98, 98);
    padding: 10px;
    text-align: center; /* Align text to the right */
}

th {
    background-color: #d25757;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    max-width: 150px; 
  }

  .details-row-expanded {
    display: table-row !important;
  }
  
  .details-cell-expanded {
    display: table-cell !important;
    width: 100%;
    padding: 15px;
    text-align: right;
    background-color: #f9f9f9;
  }