body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    direction: rtl;
}

h1 {
    font-size: 40px !important;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table horizontally */
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #d25757;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    background-color: #d25757;
    color: white;
    padding: 10px 20px;
    margin: 10px 10px;
    border: none;
    cursor: pointer;
    border: 1.5px solid rgb(99, 98, 98);
    border-radius: 8px;
}

button:hover {
    opacity: 0.8;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input[type=checkbox] {
    margin-left: 10px;
}

.message {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    text-align: right;
}

.message-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.message-content {
    margin-top: 10px;
    clear: both;
}

.edit-buttons {
    float: left;
    margin-top: 10px;
}

.checkbox-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

#message-management {
    display: flex;
    flex-direction: column;
}

input[type="text"],
textarea {
    text-align: right;
    width: 60%;
    margin-bottom: 10px;
}

#locations-dropdown {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
    width: calc(100% - 12px);
    margin-top: 5px;
    right: 0;
    width: 10%;
    text-align: right;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 30%;
}

.edit-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

.edit-button {
    position: relative;
    margin: 10px;
    right: 20px;
}

.finish-button {
    background-color: #d25757;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
    transition-duration: 0.4s;
    justify-content: center;
    margin-bottom: 25%;
}
  
.categories-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .category {
    border: 1px solid #ccc;
    padding: 10px;
    height: 200px; /* Adjust the height to your preference */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .category-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .checkbox {
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  
  .checkbox-label {
    font-size: 14px;
  }
  
html, body {
  height: 98% !important;
}

#edit-locations,
#write-messages,
#show-messages,
#loadVolunteers {
    width: 150px;
    height: 100px;
    font-size: 24px;
}
  
