/* Apply a global box-sizing */
* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-image: url("../Pictures/pic1.jpg");
    background-size: cover;
  }

  /* Style the form container */
form {
	margin: 0 auto;
	max-width: 500px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
}
  
  /* Style form labels */
  label {
    display: inline-block;
    width: 200px;
    text-align: right;
    float: right;
  }
  
  /* Style form input fields */
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Style form submit button */
  input[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 180px;
  }
  
  input[type="button"]:hover {
    background-color: #0062cc;
  }
  
  /* Style form title */
  h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  