
/* General styling */
body {
  font-family: Arial, sans-serif;
  direction: rtl;
}

header {
  text-align: center;
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

/* Filter bar */
#filter-bar {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  right: 8%;
}
#filter-label{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: -3%;
}

#filter-bar label,
#filter-bar select,
#filter-bar input,
#filter-bar button {
  margin-bottom: 10px;
}

#filter-select,
#search-input {
  margin-top: 0.3rem;
  padding: 0.45em;

}

#search-input {
  flex-grow: 0;
  margin-right: 10px;
  position:relative;
}

/* Product table */
table {
  width: 85%;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
 
  border: 1.5px solid rgb(99, 98, 98);
  padding: 10px;
  text-align: center;
}



th {
  text-align: right;
  background-color: #d25757;
  color: white;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

/* Product details row */
.product-details-row {
  text-align: right;
  background-color: #f1f1f1;
}

.product-details-row ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-details-row li {
  
  margin-bottom: 5px;
}

/* Buttons */
button {
  border: 1.5px solid rgb(99, 98, 98);
  background-color: #d25757;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;

}

button:hover {
  background-color: #c61f1f;
}

/* Add/Delete/Edit Buttons */
.add-product-btn,
#add-filter-btn,
#filter-btn,
.deleteProductBtn,
.editProductBtn,
.saveChangesBtn {
  background-color: #d25757;
  border: 1.5px solid rgb(99, 98, 98);
}

#add-product-btn:hover,
#add-filter-btn:hover,
#filter-btn:hover,
.deleteProductBtn:hover,
.editProductBtn:hover,
.saveChangesBtn:hover {
  background-color: #c61f1f;

}
.add-product-btn a {
  text-decoration: none;
  color: white;
}

.add-product-btn a:active,
.add-product-btn a:focus {
  outline: none;
}

.add-product-btn a:hover {
  color: white;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 8em; 
}
