body {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 40px;
}

form {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 60px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

label {
  display: block;
  margin-bottom: 20px;
  color: #555;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 24px;
  color: #fff;
  background-color: #d25757;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Assistent', sans-serif;
}

button[type="submit"]:hover {
  background-color: #c61f1f;
}

#forgot-password-link {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Assistent', sans-serif;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.logo-container img {
  max-width: 200px; 
}
h1,label,input,button {
      font-family: 'Assistent', sans-serif;
    }

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: red;
    font-weight: bold;
    font-family: 'Assistent', sans-serif;
  }    
  
  #forgot-password-link{
    font-size: 20px;
  }