body {
    font-family: 'Assistent', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	direction: rtl;
	background-color: #f0f0f0;
}
h1 {
	background-color: #333;
	-webkit-text-fill-color: white !important;
	-webkit-text-stroke: 0px !important;
	padding: 10px 0;
	margin-bottom: 20px;
	text-align: center;
}
h2{
	font-size: 30px;
	margin-top: 0%;
	margin-bottom: 0.25%;
	font-family: 'Assistent', sans-serif;
}
.header {
	cursor: pointer;
	font-size: 1.5em;
	color: #333;
	border-bottom: 2px solid #ddd;
	padding: 10px;
	margin: 20px 0;
	background-color: #f9f9f9;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.3s ease-in-out;
}
.header:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


#icon {
    position: relative;
    top:10%; 
    left: 9em; 
	margin-right:-0.2rem;
	z-index: 1;
	margin-left: -1.3rem;
	bottom: 0.3rem;
}


#icon_borrow {
    position: relative;
    top:10%; 
    left: 10em; 
	margin-right:-0.2rem;
	z-index: 1;
	margin-left: -1.2rem;
	bottom: 0.3rem;
}


#icon_donation {
    position: relative;
    top:10%; 
    left: 9.7em; 
	margin-right:-0.2rem;
	z-index: 1;
	margin-left: -1.2rem;
	bottom: 0.3rem;
}



.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    border-radius: 5px;
}


.square-button {
	display: inline-block;
	border: none;
	padding: 10px 20px;
	margin: 10px 5px;
	text-decoration: none;
	background-color: #d25757;
	color: white;
	font-size: 1em;
	line-height: 15px;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

.square-button:hover {
	background-color: #c61f1f;
}

.square-button a {
	color: white;
	text-decoration: none;
}
