/* Center the form on the page */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  direction: rtl;
  background-color: #f9f9f9;
  text-align: right; /* This aligns all text to the right */

}


.accessory-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

button.delButton {
  background-color: #d25757;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  padding: 5px 10px;
}

button.delButton:hover {
  background-color: #c61f1f;
}

form {
  display: flex;
  flex-direction: column;
 
  margin-top: 50px;
  position: relative;
}

/* Style the form inputs */
label {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: right;
  float: right;
}

input[type="text"],
input[type="number"] {
  font-size: 18px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #d25757;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  align-self: center;
}

input[type="submit"]:hover {
  background-color: #c61f1f;
}

/* Style the form header */
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 36px;
}

/* Style form error messages */
input:invalid {
  border-color: red;
}

input:invalid + span {
  color: red;
  font-size: 14px;
  margin-left: 10px;
}

/* Style success message */
.success {
  color: green;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

/* Style square button */
button.square-button {
  display: block;
  margin: 0 auto 20px;
  background-color: #d25757;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
}

button.square-button a {
  color: white;
  text-decoration: none;
}

button.square-button:hover {
  background-color: #c61f1f;
}

/* Style the keywords dropdown */
.dropdown {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1;
  width: calc(100% - 12px);
  margin-top: 5px;
  right: 0;
}

.dropdown div {
  padding: 5px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #f1f1f1;
}

/* Style the accessories container */
#accessories-container {
  display: flex;
  flex-direction: column;
}

#accessories-container input {
  margin-top: 5px;
}

#add-accessory {
  margin-top: 10px;
  align-self: flex-end;
}

button#add-accessory {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color:  #d25757;
  color: white;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Assistent', sans-serif;
  width: 150px;
  height:50px;
  align-self: center; /* This aligns the button to the center */
}

button#add-accessory:hover {
  background-color: #c61f1f;
}

select#location {
  align-self: center; /* This aligns the location dropdown to the center */
  width: 320px;
  font-size: 18px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}


/* Style the accessories container */


/* Style the accessories container */
#accessories-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.accessory-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px; /* This makes the div a little longer */
  position: relative;
}

.accessory {
  flex-grow: 1; /* This makes the input field take up the remaining space */
}

.delButton {
  position: absolute;
  left: -100px; /* Adjust this value to set the button's position */
}


.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 150px; 
}
