* {
  font-family: 'Assistent', sans-serif;
}

h1 {
  text-align: center;
}

/* Center form on page */
form {
  text-align: right;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form inputs */
label {
  display: block;
  font-weight: bold;
  margin-top: 1em;
}
input[type="tel"],
input[type="text"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1em;
  direction: rtl;
}

textarea {
  height: 5em;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}


/* Style form sections */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  direction: rtl;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
}

button,
input[type="submit"] {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #d25757;
  color: white;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Assistent', sans-serif;
  width: 150px;
  height: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

button:hover,
input[type="submit"]:hover {
  background-color: #c61f1f;
}

