body {
    background-color: #f5f5f5;
    direction: rtl; 
    font-family: 'Assistent', sans-serif;
    color: #333;
}

h1 {
    font-size: 40px;
  text-align: center;
  font-family: 'Assistent', sans-serif;
  -webkit-text-stroke: 0.5px black;
  -webkit-text-fill-color: #d25757;
}
.search-bar {
    text-align: center;
}
#searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

#dateInput {
    padding: 10px;
    border: 1px solid #d25757;
    border-radius: 5px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1.5px solid rgb(99, 98, 98);
    padding: 10px;
    text-align: right;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #d25757;
    color: white;
}

button {
    background-color: #d25757;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: #c61f1f;
}

  .edit-button,
.cancel-button {
    background-color: #d25757;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button:hover,
.cancel-button:hover {
    background-color: white;
    color: #d25757;
    border: 1px solid #d25757;
}

/* Remove the square at the bottom of the expandable row */
.expandable-row {
    border-bottom: none;
  }
  
  /* Adjust the style of the actions container */
  .expandable-row .button-container {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding-top: 8px;
    display: flex;
    justify-content: flex-start;
  }
  
 
  
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    max-width: 150px;
  }
  