body {
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
  }
  
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #d25757;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Assistent', sans-serif;
  }
  
  button[type="submit"]:hover {
    background-color: #c61f1f;
  }
  

  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .logo-container img {
    max-width: 150px; 
  }
  h1,label,input,button {
        font-family: 'Assistent', sans-serif;
      }
  
  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: red;
    font-weight: bold;
    font-family: 'Assistent', sans-serif;
  }
  