body {
  background-color: #f5f5f5;
  direction: rtl;
  font-family: 'Assistent', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Assistent', sans-serif;
  -webkit-text-stroke: 0.5px black;
  -webkit-text-fill-color: #d25757;
}

button {
  background-color: #d25757;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  color: #c61f1f;
}

select {
  padding: 10px;
  border: 1px solid #d25757;
  border-radius: 5px;
}

ul {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  border: 1.5px solid rgb(99, 98, 98);
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #d25757;
  color: white;
}

canvas {
  position: relative;
  height: 100%;
}


#graphsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10%; /* Add some horizontal and vertical gap between the graphs */
  justify-content: center; /* Center the graphs horizontally */
}

#controlsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  margin-top: 400px; /* Add some top margin for spacing */
}

#controlsContainer > * {
  margin-bottom: 10px; 
}

#statistics,
#yearly,
#TotalGraph {
  width: 400px;
  height: 400px;
  margin-bottom: 20px; 
  display: none;
}

#volunteerTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-right: 40%;
}

#volunteerTable table {
  margin-top: 20px;
}



