.container {
    width: 500px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Assistent', sans-serif;
}

#userDetails, #userCredentials {
    margin-bottom: 20px;
}

button {
    background-color: #d25757;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #c61f1f;
}

#userDetails,
#userCredentials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#updatePersonalDetails,
#updateCredentials {
  margin-bottom: 10px;
}

#personalDetailsDiv,
#credentialsDiv {
  display: none;
}


input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* This will add space above and below the input fields */
    border: 1px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: 'Assistent', sans-serif;
  direction: rtl;
}
