/* Set default font and background colors */
body {
  font-family: 'Assistent', sans-serif;
  background-color: #f0f0f0;
  }
  
  /* Style the form header */
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  /* Style the form container */
  #volunteer-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  /* Style the form labels */
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  /* Style the form input fields */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Style the form submit button */
  button[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #d25757;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Style the form error messages */
  input:invalid {
    border-color: #c61f1f;
  }
  
  /* Style the vehicle inputs */
  #vehicleInputs {
    text-align: left;
  }
  #vehicleInputs label {
    display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  }
  
  #vehicleInputs input {
    display: inline-block;
    width: auto; 
    margin-right: 10px;
  }
  
  /* Style the volunteer type checkboxes */
  #Volenteer_Type {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #Volenteer_Type input[type="checkbox"] {
    margin-right: 5px;
  }
  
  #Volenteer_Type label {
    margin-right: 10px;
    font-weight: normal;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    max-width: 150px; 
  }
  

  #volunteer-types {
    text-align: left !important;
    width: 100% !important;
    display: block !important;
  }

  /* Custom checkbox style */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 5px; /* Adjust the value as needed */
  vertical-align: middle;
  position: relative;
  top: 4px; /* Adjust the value as needed */
}



/* Increase the size of the checkmark icon */
input[type="checkbox"]:checked::after {
  content: "";
  position:absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #7ccc88;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}
