/* Set default font and background colors */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Style the form header */
h1 {
  text-align: center;
  margin-top: 50px;
}

/* Style the form container */
#volunteer-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: right; /* Align the form to the right */
}

/* Style the form labels */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: right;
}

/* Style the form input fields */
input[type="text"],
input[type="email"],
input[type="tel"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensure inputs are aligned with form boundaries */
}

/* Style the form submit button */
button[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Style the form error messages */
input:invalid {
  border-color: #f00;
}

input:invalid + span::before {
  content: "✖ ";
  color: #f00;
}

input:valid + span::before {
  content: "✓ ";
  color: #0f0;
}

/* Style the vehicle inputs */
#vehicleInputs {
  text-align: right; /* Align the vehicle inputs to the right */
}

#vehicleInputs label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: right;
}

#vehicleInputs input {
  display: inline-block; /* Display the vehicle inputs inline */
  width: auto; /* Remove the fixed width */
  margin-right: 10px;
}

/* Style the volunteer type checkboxes */
#Volenteer_Type {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#Volenteer_Type input[type="checkbox"] {
  margin-right: 10px;
}

#Volenteer_Type label {
  margin-right: 20px;
  font-weight: normal;
}

.checkbox-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  text-align: right;
}

.checkbox-wrapper input[type="checkbox"] {
  margin-right: 10px;
}

#volunteer-types {
  text-align: right !important;
  width: 100% !important;
  display: block !important;
}
