body {
  background-color: #fff;
  color: #900;
  font-family: 'Arial', sans-serif;
  direction: rtl;
}

header {
  background-color: #900;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
}

main {
  margin: 20px;
}

input[type="text"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #900;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #900;
  padding: 15px;
  text-align: right;
}

th {
  background-color: #900;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  background-color: #900;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}

.volunteer-details-row {
  background-color: #ffdddd;
}

.volunteer-details-row ul {
  list-style-type: none;
  padding: 0;
}

.volunteer-auth-row {
  background-color: #ffeeee;
}

.volunteer-auth-row form {
  display: flex;
  flex-direction: column;
}

.volunteer-auth-row form label {
  margin-bottom: 10px;
}
