/* Global styles */
body {
    font-family: 'Assistent', sans-serif;
  }
  
  h1{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Assistent', sans-serif;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: #fbecec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px; /* Adjust the value to increase or decrease the rounding */
    overflow:hidden; /* Ensure the rounded corners are visible */
  }
  
  td, th {
    padding: 10px;
    border: 1.5px solid #9f9d9d;
    text-align: right;
  }
  
  th {
    background-color: #d25757;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Filter bar styles */
  label {
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    border-radius: 5px;
  }
  
  /* Volunteer details row styles */
  .volunteer-details-row {
    background-color: #ddd;
  }
  
  ul {
    margin: 10px 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
 
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #authorization-filter {
    margin-top: 10px; /* Adjust as needed */
  }
  
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #d25757;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Assistent', sans-serif;
  }
  
  button:hover {
    background-color: #c61f1f;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    max-width: 150px; 
  }
  