body {
  background-color: #f0f0f0;
  font-family: 'Assistent', sans-serif;
  direction: rtl;
}

header {
  background-color: #d25757;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}

h1 {
  font-size: 2em;
}

main {
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d25757;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #d25757;
  padding: 15px;
  text-align: right;
}

th {
  background-color: #d25757;
  color: #fff;
}

button {
  background-color: #d25757;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.volunteer-details-row {
  background-color: #f2f2f2;
  border-radius: 4px;
}

.volunteer-details-row ul {
  list-style-type: none;
  padding: 0;
}

.volunteer-auth-row {
  background-color: #f2f2f2;
  border-radius: 4px;
}

.volunteer-auth-row form {
  display: flex;
  flex-direction: column;
}

.volunteer-auth-row form label {
  margin-bottom: 10px;
}

.checkbox-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-wrapper input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #d25757;
  background-color: transparent;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-wrapper input[type="checkbox"]:checked {
  background-color: #63d496;
  border-color: #d25757;
}
