body {
  font-family: Arial, sans-serif;
  direction: rtl;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

#navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
}

#navbar button {
  flex: 1;
  min-width: 100px;
  max-width: 200px;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 20px;
  background-color: #0e77de;
  color: white;
  border: none;
  font-size: 14px;
  margin: 0.5em;
  text-align: center;
  transition: background-color 0.3s ease;
}

#navbar button:hover {
  background-color: #0073e6;
  cursor: pointer;
}

#navbar button:active {
  background-color: #005cbf;
  color: white;
  outline: none;
}

#messageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
  height: 500px;
  direction: rtl;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

#messageContainer::-webkit-scrollbar {
  width: 12px;
}

#messageContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  transform: translateX(100%);
}

#messageContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.message {
  background-color: #f1f1f1;
  border-radius: 10px;
  width: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
  position: relative;
}

.message h2,
.message p {
  margin: 0;
}

.message .message-date {
  font-size: 0.8em;
  color: #666;
}

.message .message-body {
  display: none;
  position: absolute;
  top: 100%; /* Move the message body below the header */
  left: 200px;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 20px;
  box-sizing: border-box;
}

.message.expanded {
  height: auto;
}

.message.expanded .message-body {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.header h3 {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.header h1,
.header h3 {
  margin: 0;
}

.header p {
  margin: 0;
  margin-right: 10px; /* Add spacing between date and button */
}

#settingsButton {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0e77de;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

#settingsButton:hover {
  background-color: #0073e6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
