body {
    background-color: white;
    color: red;
    font-family: Arial, sans-serif;
    direction: rtl; /* Aligns text from right to left */
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

#item-data, #return-details {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#item-data ul, #return-details ul {
    list-style-type: none;
}

#accessories-list input[type=checkbox] {
    margin-left: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#item-data li, #accessories-list label {
    margin-bottom: 10px;
    line-height: 1.6;
}
